<% layout('layouts/boilerplate') %>
<div class="container h-100">
  <main class="row align-items-center h-100">
    <div
      class="
        col-sm-8
        offset-sm-2
        col-md-10
        offset-md-1
        col-lg-6
        offset-lg-6
        mt-2
        mb-2
        text-center
      "
    >
      <h1>VisualAcces</h1>
      <p class="lead">
        ¡Bienvenido a VisualAcces! <br />
        Puedes comenzar a evaluar la accesibilidad orientada a discapacidades
        visuales de páginas web de tu interes.
        <br />
        Registrate o inicia sesión para acceder a funciones adicionales como
        escribir reseñas de páginas o almacenar tus evaluaciones para
        consultarlas posteriormente a traves del historial.<br />
        Además, si te registras como desarrollador, podrás obtener resultados
        detallados en la evaluación para corregir deficiencias en cuanto a
        accesibilidad web orientada a discapacidades visuales.
      </p>
      <br />
      <a href="/evaluation/new" class="btn btn-lg btn-primary font-weight-bold"
        >Realizar Evaluación</a
      >
    </div>
  </main>
</div>
