<% layout('layouts/boilerplate') %>

<div class="principal">
  <main class="mx-3 cover-container text-center">
    <h1 class="text-center">VisualAcces</h1>
    <p class="lead text-center">
      ¡Bienvenido a VisualAcces! <br /><br />
      Puedes comenzar a evaluar la accesibilidad orientada a discapacidades
      visuales de páginas web de tu interes.
      <br /><br />
      Registrate o inicia sesión para acceder a funciones adicionales como
      escribir reseñas de páginas o almacenar tus evaluaciones para consultarlas
      posteriormente a traves del historial.<br /><br />
      Además, si te registras como desarrollador, podrás obtener resultados
      detallados en la evaluación para corregir deficiencias en cuanto a
      accesibilidad web orientada a discapacidades visuales.
    </p>
    <br />
    <a href="/evaluations/new" class="btn btn-lg btn-primary font-weight-bold"
      >Realizar Evaluación</a
    >
  </main>
</div>
