<% layout('layouts/boilerplate') %>
    <div class="container h-100">
      <main class="row align-items-center h-100">
        <div
          class="col-sm-8
          offset-sm-2
          col-md-10
          offset-md-1
          col-lg-6
          offset-lg-6
          mt-2
          mb-2"
        >
            <div class="card shadow">
              <div class="card-body">
                <h5 class="card-title">Nueva Evaluación</h5>
                <form action="/evaluation" method="POST">
                  <div class="mb-3">
                    <label class="form-label" for="url">URL</label>
                    <input class="form-control" type="text" name="url" id="url" required />
                  </div>
      
                  <fieldset class="mb-3">
                    <p class="form-label">Perfil de discapacidad</p>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="disabilityProfile"
                        id="totalBlind"
                        value="totalBlind"
                        checked
                      />
                      <label class="form-check-label" for="totalBlind">
                        Ceguera total
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="disabilityProfile"
                        id="partialBlind"
                        value="partialBlind"
                      />
                      <label class="form-check-label" for="partialBlind">
                        Ceguera parcial
                      </label>
                    </div>
                  </fieldset>
      
                  <button class="btn btn-success btn-block">Evaluar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </main>
      </div>
   