#graficos {
  position: relative;
  display: inline-block;
  margin: 0.5em;
  padding: 0 0.5em;
  font: 900 2em/1.2 sans-serif;
  background: #edecf2;
  z-index: 0;
  border-radius: 0.5em;
}

.arco {
  position: relative;
  display: block;
  font: 900 0.8em/6.5em serif;
  width: 8em;
  height: 4em;
  text-align: center;
  margin: 5px 0;
  overflow: hidden;
}
.arco::before {
  content: '';
  display: block;
  position: absolute;
  top: 10%;
  left: 5%;
  height: 180%;
  width: 90%;
  background-image: radial-gradient(
      circle,
      #edecf2 48%,
      transparent 50%,
      transparent 66%,
      #edecf2 68%
    ),
    linear-gradient(gainsboro 50%, #ffc107 50%);
  background-size: 100% 100%, 95% 95%;
  background-position: center center;
  transform: rotate(0);
  z-index: -1;
}
