* {
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

.cover-container {
  max-width: 70vw;
}

.principal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-green-light {
  background-color: #2a9d8f;
}

.bg-red-light {
  background-color: #d62828;
}

.bg-teal1 {
  background-color: #003049;
}

.bg-gray-light {
  background-color: #fff1e6;
}

.bg-orange-strong {
  background-color: #f77f00;
}

.text-light1 {
  color: white;
}

.m-t {
  margin-top: 2rem;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 850px) {
  .col-6 {
    width: 100%;
  }
} ;
